<h1><%= pagename %></h1>
<form id="edit-form" action="/save/<%= pagename %>" method="post">
  <div class="syntax"><a href="http://daringfireball.net/projects/markdown/syntax" target="markdown">Markdown syntax</a></div>
  <textarea id="raw-text" name="rawText" cols="80" rows="30"><%= rawText %></textarea>
  <div class="button-bar">
    <input type="submit" value="Save" />
    <input id="cancel-button" type="button" value="Cancel" />
  </div>
</form>
<script>
  $(document).ready(function() {
    $("#raw-text").focus();

    $("#raw-text").keypress(function() {
      var target = $("#rendered-text");
      if (target.data('event-state') !== 'buffered') {
        target.data('event-state', 'buffered');
        setTimeout(function() {
          target.data('event-state', '');
          target.html(wikisyntax($("#raw-text").val()));
        }, 1000);
      }
    });

    $("#cancel-button").click(function() {
      window.location.href = '/';
    });
  });
</script>
