<div class="page-name"><%= pageInfo.name %></div>
<div id="rendered-text" class="rendered-text-enabled"></div>
<form id="edit-form" class="edit-form-enabled" action="/save/<%= pageInfo.name %>" method="post">
  <textarea id="raw-text" class="raw-text-enabled" name="rawText" cols="80" rows="30" autofocus="autofocus"></textarea>
  <div class="button-bar">
    <input accesskey="s" id="save-button" class="default-button" type="submit" value="Create" />
    <input accesskey="c" id="cancel-button" type="button" value="Cancel" />
  </div>
  <div class="edit-helpers">
    <a href="http://daringfireball.net/projects/markdown/syntax" target="markdown">Syntax help</a>
  </div>
</form>
<script src="/javascripts/md-liveupdater.js"></script>
<script>
  $(document).ready(function() {
    var wikiSyntaxOptions = {wikiPageList: <%- JSON.stringify(pageInfo.wikiPageList) %>};

    markdownLiveUpdater($("#raw-text"),
                        $("#rendered-text"),
                        wikiSyntaxOptions);

    $("#cancel-button").click(function() {
      window.location.href = '/';
    });
  });
</script>
