<!DOCTYPE html>
<html>
  <head>
    <title>Wiki-toki<%= typeof(pagename) === "undefined" ? "" : " - " + pagename %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/jquery-1.6.4.min.js"></script>
    <script src="/javascripts/markdown.js"></script>
    <script src="/javascripts/wikisyntax.js"></script>
  </head>
  <body>
    <div id="topbar">
      <a accesskey="i" href="/">Index</a> |
      <a accesskey="l" href="/list">Page list</a> |
      <form class="inline" action="/search">
        <input accesskey="s" name="searchterms"
               placeholder="Search..."
               value="<% typeof(searchTerms) === "undefined" ? "" : searchTerms %>" />
      </form>

      <a style="float: right" href="/logout">Logout</a>
    </div>
    <hr/>
    <div id="content">
      <%- body %>
    </div>
  </body>
</html>
