<!DOCTYPE html>
<html>
  <head>
    <title><%= typeof(title) === 'undefined' ? 'Wiki-toki' : title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- body %>
  </body>
</html>
