<!DOCTYPE html>
<html>
  <head>
    <title><%= typeof(pageInfo) === "undefined" ? "" : pageInfo.name + " - " %>Wiki-toki</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/markdown.js"></script>
    <script src="/javascripts/wikisyntax.js"></script>
  </head>
  <body>
    <div id="topbar">
      <a accesskey="i" href="/">Index</a> |
      <a accesskey="l" href="/list">Page list</a> |
      <form class="inline" action="/search">
        <label for="search-box"><img src="/images/search.png" /></label>
        <input id="search-box" accesskey="s" name="searchterms"
               placeholder="Search..."
               value="<%= typeof(searchTerms) === "undefined" ? "" : searchTerms %>" />
      </form>

      <a style="float: right" href="/logout">Logout</a>
    </div>

    <div id="content">
      <%- body %>
    </div>
  </body>
</html>
