<!DOCTYPE html>
<html>
  <head>
    <title>Wiki-toki - Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="content">
Please enter the passphrase to view and edit the wiki:

<form method="post">
  <input autofocus="autofocus" type="password" name="passphrase" placeholder="Passphrase here" size="30" />
</form>
    </div>
  </body>
</html>
