body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  padding-left: 15px;
}

.options {
  font-size: 60%;
}

#rendered-text {
  width: 60%;
}
