@font-face {
  font-family: "Ubuntu Light";
  src: local("Ubuntu Light"), url("/fonts/Ubuntu-Light.ttf");
}

@font-face {
  font-family: "Ubuntu Medium";
  src: local("Ubuntu Medium"), url("/fonts/Ubuntu-Medium.ttf");
}

body {
  font: 14px "Ubuntu Light", "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 160%;
}

div.page-name {
  font-family: "Ubuntu Medium", "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 0;
  font-size: 24pt;
  font-weight: bold;
}

#topbar {
  margin: 0;
  padding: 0;
  font-size: 90%;

  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

a {
  color: #00B7FF;
}

#rendered-text a.wikipage.non-existent {
  color: #f33;
}

@media print {
  /* Don't show links and navigation in print */
  #topbar {
    display: none;
  }
  .options {
    display: none;
  }

  /* Show URLs (without decoration) after links on print... */
  #rendered-text a {
    text-decoration: none;
  }
  #rendered-text a:after {
    content: " " attr(href);
    color: #888;
    font-style: italic;
  }
  /* ...except for WikiLinks */
  #rendered-text a.wikipage[href]:after {
    content: "";
  }
}

@media screen, projection {
  #rendered-text a.wikipedia-link {
    padding-right: 20px;
    background-image: url("/images/wikipedia-globe.png");
    background-repeat: no-repeat;
    background-position: right;
  }

  #rendered-text a.picture-link {
    padding-right: 20px;
    background-image: url("/images/picture.png");
    background-repeat: no-repeat;
    background-position: right;
  }

  #rendered-text a.pdf-link {
    padding-right: 20px;
    background-image: url("/images/pdf.png");
    background-repeat: no-repeat;
    background-position: right;
  }

  #rendered-text a {
    padding-right: 10px;
    background-image: url("/images/external-link.gif");
    background-repeat: no-repeat;
    background-position: right;
  }

  #rendered-text a.wikipage {
    padding-right: inherit;
    background: inherit;
  }
}

ul {
  padding-left: 15px;
}

/* This is because, for some reason, the Markdown parser produces two
   <br> tags (instead of one) when leaving two spaces at the end of a
   line. This makes it leave the correct space between lines. */
br {
    display: block;
}

.options {
  font-size: 60%;
}

.edit-helpers {
  font-size: 80%;
  margin-bottom: 5px;
}

.error {
  color: #f33;
}

.rendered-text-disabled {
  width: 60%;
}

.rendered-text-enabled {
  float: right;
  width: 45%;
}

#content {
  padding: 10px;
}

.edit-form-disabled {
  display: none;
}

.edit-form-enabled {
  display: block;
}

.raw-text-enabled {
  width: 50%;
}

form.inline {
  display: inline;
}

.page-references-note {
  margin-top: 28px;
  margin-bottom: 0;
}

.page-references-list {
  margin-top: 7px;
}
